.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  margin: 2% 2%;
}

.search-result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 21%;
  margin: 20px 2%;
}

.search-result img {
  width: 100%;
}

.search-result h2, h4, a, p {
  margin-left: 1%;
}

p {
  display: flex;
  align-items: center;
}