.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  margin: 2% 2%;
}

.search-result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 21%;
  margin: 20px 2%;
}

.search-result img {
  width: 100%;
}

.url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.search-result h2, h4, a, p {
  margin-left: 1%;
}

p {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .search-result img, .url, .private, .issues {
    display: none;
  }

  .search-result h2 {
    font-size: 10px;
    text-align: center;
  }

  .search-result h4 {
    font-size: 7px;
    text-align: center;
  }
  
  .stars {
    font-size: 8px;
    text-align: center;
  }
}